/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-image: url("../img/labs-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    padding: 15px 0;
    background-attachment: fixed;
}
input[type="date"]::before {
	content: attr(data-placeholder);
	width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

/*form styles*/
#msform {
	width: 60%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
-ms-border-radius: 10px;


	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 10px 15px;
    /* padding: 17px 20px; */
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

#msform input:hover, #msform textarea:hover{
    outline:none;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	cursor: pointer;
	padding: 15px 18px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-color: #16462b;
	transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.btn{
	width: 100px;
	cursor: pointer;
	padding: 15px 18px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-color: #16462b;
	transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    background-color: #9bd2ad;
    color: #231f20;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	margin: 50px auto;
	margin-left: 110px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }

  td, th {
	text-align: left;
	padding: 8px;

  }

.listTag{
	text-align: left;
	padding:15px;
	margin-top: 10px;
}

.listTag li{
	margin-top: 12px;
}

.scrollMe{
	height: 300px;
	width: 100%;
	background: rgb(230, 230, 230);
	overflow-y: scroll;
	margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
	#msform {
		width: 90%;
		margin: 50px auto;
		text-align: center;
		position: relative;
	}

	.education{
		display: flex;
		flex-direction:column;
		padding-bottom: 30px;
	}

	.education2{
		display: flex;
		flex-direction:column;
		padding-bottom: 30px;
	}
}
#addMore{
    margin-top: 1em;
    margin-left: 0.5em;
}
input.error, select.error, textarea.error{
    border-color: red !important;
}
button.submit:before {
    content: none;
    font-family: 'ElegantIcons';
    position: absolute;
    top: 0.6em;
    right: 4px;
    font-size: 18px;
    font-size: 1.125rem;
}
.terms-invalid{
    font-size: 0.7em;
    color: darkred;
}
.form-group>select.form-control{
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    border-color: #16462b !important;
    outline: none;
}
.passport{
    color: #fff;
    height:100px;
    width:100px;
    background-color: #3B6253;
}
.passport>span{
    font-size: 3em;
}
.passport>img{
    width: 100px;
    height: 100px;
    display: none;
}
input.passport-upload{
    max-width: 0px;
    max-height: 0px;
}
#acceptTerms{
    width:unset;
}
#msform > fieldset.termsField > button{
    font-size: 16px;
    padding: 20px 11px;
    padding-bottom: 21px;
}
#msform > fieldset.termsField > button::before{
    top: 1em;
    right: 2px;
}
